/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
height: 100%;
overflow-x: hidden; /* Prevent horizontal scrolling */
scroll-behavior: smooth;

}

#root{
 
  min-height: 100vh !important;
  z-index: -1;
  background: radial-gradient(circle,  #93d6eb,#f6f0ed);
  background-size: 400% 400%;
  animation: animateBackground 10s linear infinite;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.login-container{
  margin: 5px;
  padding:"5px";
  width: 20%;
  position: center;
  background-color: #f6f0ed;
}




footer {
  text-align: center;
  padding: 20px;
}


